<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{147,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{147,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{147,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{147,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{208,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_0a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{293,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{293,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{293,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{293,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{415,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{439,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{439,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{439,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{439,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{585,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{585,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{585,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{585,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{622,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{731,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{731,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{731,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{731,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{829,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{877,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{877,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{877,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{877,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1023,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1023,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1023,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1023,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1036,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_2c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1169,1},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1169,208},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1169,415},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1169,622},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1243,829},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1315,1},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1315,147},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1315,354},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1315,561},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1450,768},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1461,147},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1522,1},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1461,293},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1461,500},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{144,205}</string>
                <key>textureRect</key>
                <string>{{1596,707},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardMap.png</string>
            <key>size</key>
            <string>{1741,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0885f3b2aa5c9028d6b351c2161f04:d5ae806e4143c598a6a85a8c41d2765c:b882ef5b2d6ef208d87a3de4dd558321$</string>
            <key>textureFileName</key>
            <string>cardMap.png</string>
        </dict>
    </dict>
</plist>
