<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{873,477},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicScoreBG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,63}</string>
                <key>spriteSourceSize</key>
                <string>{258,63}</string>
                <key>textureRect</key>
                <string>{{1199,438},{258,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,122}</string>
                <key>spriteSourceSize</key>
                <string>{1080,122}</string>
                <key>textureRect</key>
                <string>{{544,314},{1080,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomImg2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,102}</string>
                <key>spriteSourceSize</key>
                <string>{325,102}</string>
                <key>textureRect</key>
                <string>{{311,1},{325,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,92}</string>
                <key>spriteSourceSize</key>
                <string>{311,92}</string>
                <key>textureRect</key>
                <string>{{415,1},{311,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1495,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1542,532},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{1414,96},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCreate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,82}</string>
                <key>spriteSourceSize</key>
                <string>{283,82}</string>
                <key>textureRect</key>
                <string>{{945,438},{283,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnJoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,82}</string>
                <key>spriteSourceSize</key>
                <string>{283,82}</string>
                <key>textureRect</key>
                <string>{{1029,438},{283,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnNoRob.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,87}</string>
                <key>spriteSourceSize</key>
                <string>{174,87}</string>
                <key>textureRect</key>
                <string>{{1366,438},{174,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,89}</string>
                <key>spriteSourceSize</key>
                <string>{295,89}</string>
                <key>textureRect</key>
                <string>{{811,1},{295,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOK1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,102}</string>
                <key>spriteSourceSize</key>
                <string>{344,102}</string>
                <key>textureRect</key>
                <string>{{100,1},{344,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,105}</string>
                <key>spriteSourceSize</key>
                <string>{331,105}</string>
                <key>textureRect</key>
                <string>{{204,1},{331,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReady2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,84}</string>
                <key>spriteSourceSize</key>
                <string>{261,84}</string>
                <key>textureRect</key>
                <string>{{1113,438},{261,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,92}</string>
                <key>spriteSourceSize</key>
                <string>{311,92}</string>
                <key>textureRect</key>
                <string>{{509,1},{311,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRobBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,87}</string>
                <key>spriteSourceSize</key>
                <string>{174,87}</string>
                <key>textureRect</key>
                <string>{{1366,527},{174,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,93}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{1542,438},{92,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRule2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1239,233},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShowCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,88}</string>
                <key>spriteSourceSize</key>
                <string>{231,88}</string>
                <key>textureRect</key>
                <string>{{454,314},{231,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,93}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{1401,1},{92,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSound2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1318,232},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1092,1},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTips2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1397,230},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnToHall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1103,121},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnToHall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1565,93},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,123}</string>
                <key>spriteSourceSize</key>
                <string>{211,123}</string>
                <key>textureRect</key>
                <string>{{178,347},{211,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1476,190},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,2}</string>
                <key>spriteSourceSize</key>
                <string>{589,2}</string>
                <key>textureRect</key>
                <string>{{1,1},{589,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1026,257},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1076,257},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clockImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,130}</string>
                <key>textureRect</key>
                <string>{{902,172},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1587,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBox0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,265}</string>
                <key>spriteSourceSize</key>
                <string>{176,265}</string>
                <key>textureRect</key>
                <string>{{678,546},{176,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,224}</string>
                <key>spriteSourceSize</key>
                <string>{149,224}</string>
                <key>textureRect</key>
                <string>{{303,334},{149,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{126,123}</string>
                <key>textureRect</key>
                <string>{{967,1},{126,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,93}</string>
                <key>spriteSourceSize</key>
                <string>{565,93}</string>
                <key>textureRect</key>
                <string>{{5,1},{565,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,295}</string>
                <key>spriteSourceSize</key>
                <string>{206,295}</string>
                <key>textureRect</key>
                <string>{{603,1},{206,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,133}</string>
                <key>spriteSourceSize</key>
                <string>{136,133}</string>
                <key>textureRect</key>
                <string>{{1,592},{136,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mulImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{105,567},{23,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,56}</string>
                <key>spriteSourceSize</key>
                <string>{107,56}</string>
                <key>textureRect</key>
                <string>{{544,438},{107,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,61}</string>
                <key>spriteSourceSize</key>
                <string>{113,61}</string>
                <key>textureRect</key>
                <string>{{1338,1},{113,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,62}</string>
                <key>spriteSourceSize</key>
                <string>{114,62}</string>
                <key>textureRect</key>
                <string>{{1556,611},{114,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,63}</string>
                <key>spriteSourceSize</key>
                <string>{169,63}</string>
                <key>textureRect</key>
                <string>{{367,560},{169,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,63}</string>
                <key>spriteSourceSize</key>
                <string>{169,63}</string>
                <key>textureRect</key>
                <string>{{432,560},{169,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,63}</string>
                <key>textureRect</key>
                <string>{{1124,241},{113,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niutype14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,63}</string>
                <key>spriteSourceSize</key>
                <string>{169,63}</string>
                <key>textureRect</key>
                <string>{{902,1},{169,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,61}</string>
                <key>spriteSourceSize</key>
                <string>{114,61}</string>
                <key>textureRect</key>
                <string>{{1212,1},{114,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,61}</string>
                <key>spriteSourceSize</key>
                <string>{114,61}</string>
                <key>textureRect</key>
                <string>{{1223,117},{114,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,61}</string>
                <key>spriteSourceSize</key>
                <string>{112,61}</string>
                <key>textureRect</key>
                <string>{{1351,116},{112,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,61}</string>
                <key>spriteSourceSize</key>
                <string>{114,61}</string>
                <key>textureRect</key>
                <string>{{1275,1},{114,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,61}</string>
                <key>textureRect</key>
                <string>{{1430,616},{115,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,61}</string>
                <key>textureRect</key>
                <string>{{1493,616},{115,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,62}</string>
                <key>spriteSourceSize</key>
                <string>{115,62}</string>
                <key>textureRect</key>
                <string>{{1366,616},{115,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutype9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,63}</string>
                <key>textureRect</key>
                <string>{{1286,117},{113,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutypeBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,49}</string>
                <key>spriteSourceSize</key>
                <string>{188,49}</string>
                <key>textureRect</key>
                <string>{{1264,438},{188,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niutypeBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,49}</string>
                <key>spriteSourceSize</key>
                <string>{188,49}</string>
                <key>textureRect</key>
                <string>{{1315,438},{188,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noRobImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,48}</string>
                <key>spriteSourceSize</key>
                <string>{95,50}</string>
                <key>textureRect</key>
                <string>{{1316,628},{95,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noticeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{73,75}</string>
                <key>textureRect</key>
                <string>{{1565,172},{73,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noticeBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{602,438},{106,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noticeBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,100}</string>
                <key>textureRect</key>
                <string>{{706,438},{113,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readyImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{821,438},{99,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robBankerImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{95,50}</string>
                <key>textureRect</key>
                <string>{{1264,628},{95,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruleBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,69}</string>
                <key>spriteSourceSize</key>
                <string>{37,69}</string>
                <key>textureRect</key>
                <string>{{873,438},{37,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruleBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,98}</string>
                <key>spriteSourceSize</key>
                <string>{19,98}</string>
                <key>textureRect</key>
                <string>{{5,568},{19,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruleTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,47}</string>
                <key>spriteSourceSize</key>
                <string>{165,47}</string>
                <key>textureRect</key>
                <string>{{136,567},{165,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sayBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,76}</string>
                <key>spriteSourceSize</key>
                <string>{218,76}</string>
                <key>textureRect</key>
                <string>{{100,347},{218,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipsBoxBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,180}</string>
                <key>spriteSourceSize</key>
                <string>{171,180}</string>
                <key>textureRect</key>
                <string>{{185,560},{171,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipsBoxBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{179,181}</string>
                <key>textureRect</key>
                <string>{{497,547},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>useinfoBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,75}</string>
                <key>spriteSourceSize</key>
                <string>{126,75}</string>
                <key>textureRect</key>
                <string>{{1026,129},{126,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{1643,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db2a3dfe1fae8cc589084d6369faab13:0c593534d77575b2c14ac77d25a41255:3e7279aa76361033417b8b996ea8b6d0$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
