<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{869,1515},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,103}</string>
                <key>spriteSourceSize</key>
                <string>{315,103}</string>
                <key>textureRect</key>
                <string>{{650,1621},{315,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,89}</string>
                <key>spriteSourceSize</key>
                <string>{182,89}</string>
                <key>textureRect</key>
                <string>{{761,1293},{182,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{852,1293},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{913,1255},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chooseRoomeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{897,1306},{105,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>createTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,58}</string>
                <key>spriteSourceSize</key>
                <string>{229,58}</string>
                <key>textureRect</key>
                <string>{{650,1726},{229,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{481,1},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{1,381},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{481,381},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{1,761},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{481,761},{478,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{1,1141},{478,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameMode8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,378}</string>
                <key>spriteSourceSize</key>
                <string>{478,378}</string>
                <key>textureRect</key>
                <string>{{381,1141},{478,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,190}</string>
                <key>spriteSourceSize</key>
                <string>{647,190}</string>
                <key>textureRect</key>
                <string>{{1,1621},{647,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{761,1141},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,66}</string>
                <key>spriteSourceSize</key>
                <string>{112,66}</string>
                <key>textureRect</key>
                <string>{{913,1141},{112,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noticeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{73,75}</string>
                <key>textureRect</key>
                <string>{{881,1726},{73,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{761,1515},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,100}</string>
                <key>textureRect</key>
                <string>{{852,1413},{113,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallScene.png</string>
            <key>size</key>
            <string>{980,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e2499f772b53ef1a7f8c54d8acf5100:52d350f93711dbc9dbca98db747295cf:ee767e3aa46a7694dfca09e6f6f02a99$</string>
            <key>textureFileName</key>
            <string>hallScene.png</string>
        </dict>
    </dict>
</plist>
