<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,59}</string>
                <key>spriteSourceSize</key>
                <string>{32,59}</string>
                <key>textureRect</key>
                <string>{{109,261},{32,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{126,150}</string>
                <key>textureRect</key>
                <string>{{147,94},{126,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgMain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,100}</string>
                <key>textureRect</key>
                <string>{{181,873},{113,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{283,873},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,91}</string>
                <key>spriteSourceSize</key>
                <string>{296,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,106}</string>
                <key>spriteSourceSize</key>
                <string>{776,106}</string>
                <key>textureRect</key>
                <string>{{1,270},{776,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOpen0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,80}</string>
                <key>spriteSourceSize</key>
                <string>{133,80}</string>
                <key>textureRect</key>
                <string>{{109,690},{133,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOpen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,80}</string>
                <key>spriteSourceSize</key>
                <string>{133,80}</string>
                <key>textureRect</key>
                <string>{{109,772},{133,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSend0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,106}</string>
                <key>spriteSourceSize</key>
                <string>{237,106}</string>
                <key>textureRect</key>
                <string>{{267,657},{237,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSend1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,106}</string>
                <key>spriteSourceSize</key>
                <string>{237,106}</string>
                <key>textureRect</key>
                <string>{{244,765},{237,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,201}</string>
                <key>spriteSourceSize</key>
                <string>{267,201}</string>
                <key>textureRect</key>
                <string>{{299,1},{267,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{387,873},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{343,981},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{263,988},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{181,988},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,153}</string>
                <key>spriteSourceSize</key>
                <string>{159,153}</string>
                <key>textureRect</key>
                <string>{{109,388},{159,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,158}</string>
                <key>spriteSourceSize</key>
                <string>{162,158}</string>
                <key>textureRect</key>
                <string>{{296,270},{162,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,164}</string>
                <key>spriteSourceSize</key>
                <string>{147,164}</string>
                <key>textureRect</key>
                <string>{{147,222},{147,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,165}</string>
                <key>spriteSourceSize</key>
                <string>{144,165}</string>
                <key>textureRect</key>
                <string>{{1,94},{144,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMode5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,145}</string>
                <key>spriteSourceSize</key>
                <string>{156,145}</string>
                <key>textureRect</key>
                <string>{{109,543},{156,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{270,430},{225,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uidBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,70}</string>
                <key>spriteSourceSize</key>
                <string>{225,70}</string>
                <key>textureRect</key>
                <string>{{109,854},{225,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userScene.png</string>
            <key>size</key>
            <string>{505,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff8fcb6e1cf84558a6dd15a435368f4:8ac5c41d6fe6be030a9ac3896b91831f:3cb3b5e53ad0a5b9bb2bb37168d0f00f$</string>
            <key>textureFileName</key>
            <string>userScene.png</string>
        </dict>
    </dict>
</plist>
